xsd/gml-profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:gml="http://www.opengis.net/gml/3.2"
	version="0.0.3-3.2.1"
	elementFormDefault="qualified"
	targetNamespace="http://www.opengis.net/gml/3.2">
	<annotation>
		<documentation>GML 3.2.0 profile for BRO.
        0.0.1-3.2.1: Based on gml:AbstractFeature, gml:ReferenceType, gml:PointPropertyType, gml:EnvelopeType, gml:MeasureType, gml:TimeInstantPropertyType, (gml:CodeWithAuthorityType)</documentation>
		<documentation>GML 3.2.1 profile for BRO.
        0.0.2-3.2.1:anyURI toegevoegd aan TimePositionUnion</documentation>
		<documentation>GML 3.3.0 profile for BRO.
        0.0.3-3.2.1: June 2021: Added Curve, MultiPoint, MultiSurface</documentation>
	</annotation>
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink-profile.xsd"/>
	<!--import namespace="http://www.w3.org/1999/xlink" schemaLocation="https://schema.broservices.nl/profile/xlink/1.0/xlink-profile.xsd"/-->
	<!-- ================================================= -->
	<element name="AbstractFeature" type="gml:AbstractFeatureType" abstract="true" substitutionGroup="gml:AbstractGML"/>
	<!-- ================================================= -->
	<complexType name="AbstractFeatureType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractGMLType"/>
		</complexContent>
	</complexType>
	<!-- ================================================= -->
	<complexType name="FeaturePropertyType">
		<sequence minOccurs="0">
			<element ref="gml:AbstractFeature"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ================================================= -->
	<complexType name="AbstractGMLType" abstract="true">
		<!-- refers to StandardObjectProperties. Currently not used. Only gml:id is used
        <sequence>
            <group ref="gml:StandardObjectProperties"/>
        </sequence>
        -->
		<attribute ref="gml:id" use="required"/>
	</complexType>
	<!-- ================================================= -->
	<!-- These elements are currently not used.
         gml:identifier might be used in the future, but its usage is currently not foreseen.

    <group name="StandardObjectProperties">
        <sequence>
            <element ref="gml:description" minOccurs="0"/>
            <element ref="gml:descriptionReference" minOccurs="0"/>
            <element ref="gml:identifier" minOccurs="0"/>
            <element ref="gml:name" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </group>
    -->
	<!-- ================================================= -->
	<attribute name="id" type="ID"/>
	<!-- ================================================= -->
	<element name="AbstractObject" abstract="true"/>
	<!-- ================================================= -->
	<attributeGroup name="AssociationAttributeGroup">
		<attributeGroup ref="xlink:simpleAttrs"/>
		<attribute name="nilReason" type="gml:NilReasonType"/>
	</attributeGroup>
	<!-- ================================================= -->
	<simpleType name="NilReasonType">
		<union memberTypes="gml:NilReasonEnumeration anyURI"/>
	</simpleType>
	<!-- ================================================= -->
	<simpleType name="NilReasonEnumeration">
		<union>
			<simpleType>
				<restriction base="string">
					<enumeration value="inapplicable"/>
					<enumeration value="missing"/>
					<enumeration value="template"/>
					<enumeration value="unknown"/>
					<enumeration value="withheld"/>
				</restriction>
			</simpleType>
			<simpleType>
				<restriction base="string">
					<pattern value="other:\w{2,}"/>
				</restriction>
			</simpleType>
		</union>
	</simpleType>
	<!-- ================================================= -->
	<!-- Is being referred to from StandardObjectProperties. Currently not used. Usage not foreseen.  
    <element name="description" type="string"/>
    -->
	<!-- ================================================= -->
	<!-- Is being referred to from StandardObjectProperties. Currently not used. Usage not foreseen.  
    <element name="descriptionReference" type="gml:ReferenceType"/>
    -->
	<!-- ================================================= -->
	<complexType name="ReferenceType">
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ================================================= -->
	<!-- TODO: currently included to allow validation of current examples
    -->
	<complexType name="CodeType">
		<simpleContent>
			<extension base="string">
				<attribute name="codeSpace" type="anyURI"/>
			</extension>
		</simpleContent>
	</complexType>
	<!-- ================================================= -->
	<!-- Currently not needed
    <element name="identifier" type="gml:CodeWithAuthorityType"/>
    -->
	<!-- ================================================= -->
	<!-- Currently included to allow validation of current examples
    -->
	<complexType name="CodeWithAuthorityType">
		<simpleContent>
			<restriction base="gml:CodeType">
				<attribute name="codeSpace" type="anyURI" use="required"/>
			</restriction>
		</simpleContent>
	</complexType>
	<!-- ================================================= -->
	<!-- Name is currently not needed
    <element name="name" type="gml:CodeType"/>
    -->
	<!-- ================================================= -->
	<element name="Envelope" type="gml:EnvelopeType" substitutionGroup="gml:AbstractObject"/>
	<!-- ================================================= -->
	<complexType name="EnvelopeType">
		<sequence>
			<element name="lowerCorner" type="gml:DirectPositionType"/>
			<element name="upperCorner" type="gml:DirectPositionType"/>
		</sequence>
		<attributeGroup ref="gml:SRSReferenceGroup"/>
	</complexType>
	<!-- ================================================= -->
	<complexType name="DirectPositionType">
		<simpleContent>
			<extension base="gml:doubleList"/>
		</simpleContent>
	</complexType>
	<!-- ================================================= -->
	<simpleType name="doubleList">
		<list itemType="double"/>
	</simpleType>
	<!-- ================================================= -->
	<attributeGroup name="SRSReferenceGroup">
		<attribute name="srsName" type="anyURI"/>
		<attribute name="srsDimension" type="positiveInteger"/>
	</attributeGroup>
	<!-- ================================================= -->
	<simpleType name="NCNameList">
		<list itemType="NCName"/>
	</simpleType>
	<!-- ================================================= -->
	<element name="pos" type="gml:DirectPositionType"/>
	<!-- ================================================= -->
	<element name="AbstractGeometry" type="gml:AbstractGeometryType" abstract="true" substitutionGroup="gml:AbstractGML"/>
	<!-- ================================================= -->
	<complexType name="AbstractGeometryType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<attributeGroup ref="gml:SRSReferenceGroup"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ================================================= -->
	<element name="AbstractGML" type="gml:AbstractGMLType" abstract="true" substitutionGroup="gml:AbstractObject"/>
	<!-- ================================================= -->
	<complexType name="PointPropertyType">
		<sequence>
			<element ref="gml:Point"/>
		</sequence>
	</complexType>
	<!-- ================================================= -->
	<element name="Point" type="gml:PointType" substitutionGroup="gml:AbstractGeometricPrimitive"/>
	<!-- ================================================= -->
	<complexType name="PointType">
		<complexContent>
			<extension base="gml:AbstractGeometricPrimitiveType">
				<sequence>
					<element ref="gml:pos"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ================================================= -->
	<!--Types: geometric primitive en geometric aggregation
	The AbstractGeometricAggregateType is added in june 2021 for the use of Curve, MultiPoint and MultiSurface-->
	<!-- ================================================= -->
	<complexType name="AbstractGeometricPrimitiveType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractGeometryType"/>
		</complexContent>
	</complexType>
	<!--
	<complexType name="AbstractGeometricAggregateType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractGeometryType">
				<attributeGroup ref="gml:AggregationAttributeGroup"/>
			</extension>
		</complexContent>
	</complexType>
	<element name="AbstractGeometricAggregate" type="gml:AbstractGeometricAggregateType" abstract="true" substitutionGroup="gml:AbstractGeometry">
		<annotation>
			<documentation>
			gml:AbstractGeometricAggregate is the abstract head of the substitution group for all geometric aggregates.
			</documentation>
		</annotation>
	</element>
	<attributeGroup name="AggregationAttributeGroup">
		<annotation>
			<documentation>A GML Object Collection is any GML Object with a property element in its content model whose content model is derived by extension from gml:AbstractMemberType. In addition, the complex type describing the content model of the GML Object Collection may also include a reference to the attribute group gml:AggregationAttributeGroup to provide additional information about the semantics of the object collection. This information may be used by applications to group GML objects, and optionally to order and index them. The allowed values for the aggregationType attribute are defined by gml:AggregationType. See 8.4 of ISO/IEC 11404:1996 for the meaning of the values in the enumeration.
			</documentation>
		</annotation>
		<attribute name="aggregationType" type="gml:AggregationType"/>
	</attributeGroup>-->
	<!-- ================================================= -->
	<simpleType name="AggregationType" final="#all">
		<restriction base="string">
			<enumeration value="sequence"/>
			<!--not needed in our profile
			<enumeration value="set"/>
			<enumeration value="bag"/>
			<enumeration value="array"/>
			<enumeration value="record"/>
			<enumeration value="table"/>-->
		</restriction>
	</simpleType>
	<!-- ================================================= -->
	<element name="AbstractGeometricPrimitive" type="gml:AbstractGeometricPrimitiveType" abstract="true" substitutionGroup="gml:AbstractGeometry"/>
	<!-- ================================================= -->
	<complexType name="MeasureType">
		<simpleContent>
			<extension base="double">
				<attribute name="uom" type="gml:UomIdentifier" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!-- ================================================= -->
	<simpleType name="UomIdentifier">
		<union memberTypes="gml:UomSymbol gml:UomURI"/>
	</simpleType>
	<!-- ================================================= -->
	<simpleType name="UomSymbol">
		<restriction base="string">
			<pattern value="[^: \n\r\t]+"/>
		</restriction>
	</simpleType>
	<!-- ================================================= -->
	<simpleType name="UomURI">
		<restriction base="anyURI">
			<pattern value="([a-zA-Z][a-zA-Z0-9\-\+\.]*:|\.\./|\./|#).*"/>
		</restriction>
	</simpleType>
	<!-- ================================================= -->
	<element name="AbstractTimeObject" type="gml:AbstractTimeObjectType" abstract="true" substitutionGroup="gml:AbstractGML"/>
	<!-- ================================================= -->
	<complexType name="AbstractTimeObjectType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractGMLType"/>
		</complexContent>
	</complexType>
	<!-- ================================================= -->
	<element name="AbstractTimePrimitive" type="gml:AbstractTimePrimitiveType" abstract="true" substitutionGroup="gml:AbstractTimeObject"/>
	<!-- ================================================= -->
	<complexType name="AbstractTimePrimitiveType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractTimeObjectType"/>
		</complexContent>
	</complexType>
	<!-- ================================================= -->
	<complexType name="TimePrimitivePropertyType">
		<sequence>
			<element ref="gml:AbstractTimePrimitive"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ================================================= -->
	<element name="AbstractTimeGeometricPrimitive" type="gml:AbstractTimeGeometricPrimitiveType" abstract="true" substitutionGroup="gml:AbstractTimePrimitive"/>
	<!-- ================================================= -->
	<complexType name="AbstractTimeGeometricPrimitiveType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractTimePrimitiveType">
				<attribute name="frame" type="anyURI" default="#ISO-8601"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ================================================= -->
	<element name="TimeInstant" type="gml:TimeInstantType" substitutionGroup="gml:AbstractTimeGeometricPrimitive"/>
	<!-- ================================================= -->
	<complexType name="TimeInstantType" final="#all">
		<complexContent>
			<extension base="gml:AbstractTimeGeometricPrimitiveType">
				<sequence>
					<element ref="gml:timePosition"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ================================================= -->
	<complexType name="TimeInstantPropertyType">
		<sequence minOccurs="0">
			<element ref="gml:TimeInstant"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<!-- ================================================= -->
	<element name="TimePeriod" type="gml:TimePeriodType" substitutionGroup="gml:AbstractTimeGeometricPrimitive"/>
	<!-- ================================================= -->
	<complexType name="TimePeriodType">
		<complexContent>
			<extension base="gml:AbstractTimeGeometricPrimitiveType">
				<sequence>
					<element name="beginPosition" type="gml:TimePositionType"/>
					<element name="endPosition" type="gml:TimePositionType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ================================================= -->
	<complexType name="TimePeriodPropertyType">
		<sequence>
			<element ref="gml:TimePeriod"/>
		</sequence>
	</complexType>
	<!-- ================================================= -->
	<complexType name="TimePositionType" final="#all">
		<simpleContent>
			<extension base="gml:TimePositionUnion">
				<attribute name="frame" type="anyURI" default="#ISO-8601"/>
				<!-- Usage not foreseen
                <attribute name="calendarEraName" type="string"/>
                -->
				<attribute name="indeterminatePosition" type="gml:TimeIndeterminateValueType"/>
			</extension>
		</simpleContent>
	</complexType>
	<!-- ================================================= -->
	<simpleType name="TimeIndeterminateValueType">
		<restriction base="string">
			<!-- Only the usage of "unknown" is foreseen for the BRO
            <enumeration value="after"/>
            <enumeration value="before"/>
            <enumeration value="now"/>
            -->
			<enumeration value="unknown"/>
		</restriction>
	</simpleType>
	<!-- ================================================= -->
	<simpleType name="TimePositionUnion">
		<!-- anyURI is added to facilitate an empty value in case the date is unknown
        <union memberTypes="gml:CalDate time dateTime anyURI decimal"/> -->
		<union memberTypes="gml:CalDate time dateTime anyURI "/>
	</simpleType>
	<!-- ================================================= -->
	<simpleType name="CalDate">
		<union memberTypes="date gYearMonth gYear"/>
	</simpleType>
	<!-- ================================================= -->
	<element name="timePosition" type="gml:TimePositionType"/>
	<!-- ================================================= -->
	<element name="AbstractCurve" type="gml:AbstractCurveType" abstract="true" substitutionGroup="gml:AbstractGeometricPrimitive"/>
	<!-- ================================================= -->
	<complexType name="AbstractCurveType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractGeometricPrimitiveType"/>
		</complexContent>
	</complexType>
	<!-- ================================================= -->
	<complexType name="SurfacePropertyType">
		<sequence>
			<element ref="gml:AbstractSurface"/>
		</sequence>
	</complexType>
	<element name="surfaceMember" type="gml:SurfacePropertyType">
		<annotation>
			<documentation>
This property element either references a surface via the XLink-attributes or contains the surface element. A surface element is any element, which is substitutable for gml:AbstractSurface.
			</documentation>
		</annotation>
	</element>
	<!-- ================================================= -->
	<element name="AbstractSurface" type="gml:AbstractSurfaceType" abstract="true" substitutionGroup="gml:AbstractGeometricPrimitive"/>
	<!-- ================================================= -->
	<complexType name="AbstractSurfaceType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractGeometricPrimitiveType"/>
		</complexContent>
	</complexType>
	<!-- ================================================= -->
	<element name="LineString" type="gml:LineStringType" substitutionGroup="gml:AbstractCurve"/>
	<!-- ================================================= -->
	<complexType name="LineStringType">
		<complexContent>
			<extension base="gml:AbstractCurveType">
				<sequence>
					<element ref="gml:posList"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ================================================= -->
	<element name="LineStringSegment" type="gml:LineStringSegmentType" substitutionGroup="gml:AbstractCurveSegment"/>
	<!-- ================================================= -->
	<complexType name="LineStringSegmentType">
		<complexContent>
			<extension base="gml:AbstractCurveSegmentType">
				<sequence>
					<element ref="gml:posList"/>
				</sequence>
				<attribute name="interpolation" type="gml:CurveInterpolationType" fixed="linear" />
			</extension>
		</complexContent>
	</complexType>
	<!-- ================================================= -->
	<element name="posList" type="gml:DirectPositionListType"/>
	<!-- ================================================= -->
	<complexType name="DirectPositionListType">
		<simpleContent>
			<extension base="gml:doubleList"/>
		</simpleContent>
	</complexType>
	<!-- ================================================= -->
	<element name="Polygon" type="gml:PolygonType" substitutionGroup="gml:AbstractSurface"/>
	<!-- ================================================= -->
	<complexType name="PolygonType">
		<complexContent>
			<extension base="gml:AbstractSurfaceType">
				<sequence>
					<element ref="gml:exterior" minOccurs="0"/>
					<element ref="gml:interior" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ================================================= -->
	<element name="Surface" type="gml:SurfaceType" substitutionGroup="gml:AbstractSurface"/>
	<!-- ================================================= -->
	<complexType name="SurfaceType">
		<complexContent>
			<extension base="gml:AbstractSurfaceType">
				<sequence>
					<element ref="gml:exterior" minOccurs="0"/>
					<element ref="gml:interior" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ================================================= -->
	<element name="exterior" type="gml:AbstractRingPropertyType"/>
	<!-- ================================================= -->
	<complexType name="AbstractRingPropertyType">
		<sequence>
			<element ref="gml:AbstractRing"/>
		</sequence>
	</complexType>
	<!-- ================================================= -->
	<element name="AbstractRing" type="gml:AbstractRingType" abstract="true" substitutionGroup="gml:AbstractObject"/>
	<!-- ================================================= -->
	<complexType name="AbstractRingType" abstract="true">
		<sequence/>
	</complexType>
	<!-- ================================================= -->
	<element name="interior" type="gml:AbstractRingPropertyType"/>
	<!-- ================================================= -->
	<element name="LinearRing" type="gml:LinearRingType" substitutionGroup="gml:AbstractRing"/>
	<!-- ================================================= -->
	<complexType name="LinearRingType">
		<complexContent>
			<extension base="gml:AbstractRingType">
				<sequence>
					<element ref="gml:posList"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- BooleanPropertyType was used in earlier versions of CPT, but not used anymore
    <complexType name="BooleanPropertyType">
        <sequence minOccurs="0">
            <element ref="gml:Boolean"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="Boolean"  substitutionGroup="gml:AbstractScalarValue" nillable="true">
        <complexType>
            <simpleContent>
                <extension base="boolean">
                    <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
            </simpleContent>
        </complexType>
    </element>
    <element name="AbstractValue" type="anyType" abstract="true" substitutionGroup="gml:AbstractObject"/>
    <element name="AbstractScalarValue" type="anyType" abstract="true" substitutionGroup="gml:AbstractValue"/>
-->
	<annotation>
		<documentation>June 2021 added: gml:CurvePropertyType, gml:MultiPointPropertyType en gml:MultiSurfacePropertyType</documentation>
	</annotation>
	<!-- ================================================= -->
	<complexType name="CurvePropertyType">
		<annotation>
			<documentation>
			A property that has a curve as its value domain may either be an appropriate geometry element encapsulated in an element of this type or an XLink reference to a remote geometry element (where remote includes geometry elements located elsewhere in the same document). Either the reference or the contained element shall be given, but neither both nor none.
			</documentation>
		</annotation>
		<sequence minOccurs="0">
			<element ref="gml:AbstractCurve"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!-- Not needed in our profile
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
		-->
	</complexType>
	<!-- ================================================= -->
	<complexType name="MultiPointPropertyType">
		<annotation>
			<documentation>A property that has a collection of points as its value domain may either be an appropriate geometry element encapsulated in an element of this type or an XLink reference to a remote geometry element (where remote includes geometry elements located elsewhere in the same document). Either the reference or the contained element shall be given, but neither both nor none.
			</documentation>
		</annotation>
		<sequence minOccurs="0">
			<element ref="gml:MultiPoint"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!--<attributeGroup ref="gml:OwnershipAttributeGroup"/>-->
	</complexType>
	<!-- not needed in our profile
	<complexType name="PointArrayPropertyType">
		<annotation>
			<documentation>
			gml:PointArrayPropertyType is a container for an array of points. The elements are always contained inline in the array property, referencing geometry elements or arrays of geometry elements via XLinks is not supported.
			</documentation>
		</annotation>
		<sequence minOccurs="0" maxOccurs="unbounded">
			<element ref="gml:Point"/>
		</sequence>
	</complexType>
    -->
	<!-- ================================================= -->
	<complexType name="MultiSurfacePropertyType">
		<annotation>
			<documentation>
			A property that has a collection of surfaces as its value domain may either be an appropriate geometry element encapsulated in an element of this type or an XLink reference to a remote geometry element (where remote includes geometry elements located elsewhere in the same document). Either the reference or the contained element shall be given, but neither both nor none.
			</documentation>
		</annotation>
		<sequence minOccurs="0">
			<element ref="gml:MultiSurface"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<!-- Not needed in our profile
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
		-->
	</complexType>
	<!-- not needed in our profile
	<complexType name="SurfaceArrayPropertyType">
		<annotation>
			<documentation>
gml:SurfaceArrayPropertyType is a container for an array of surfaces. The elements are always contained in the array property, referencing geometry elements or arrays of geometry elements via XLinks is not supported.
			</documentation>
		</annotation>
		<sequence minOccurs="0" maxOccurs="unbounded">
			<element ref="gml:AbstractSurface"/>
		</sequence>
	</complexType>
    -->
	<!-- ================================================= -->
	<element name="Curve" type="gml:CurveType" substitutionGroup="gml:AbstractCurve"/>
	<!-- ================================================= -->
	<complexType name="CurveType">
		<complexContent>
			<extension base="gml:AbstractCurveType">
				<sequence>
					<element ref="gml:segments"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="segments" type="gml:CurveSegmentArrayPropertyType">
		<annotation>
			<documentation>This property element contains a list of curve segments. The order of the elements is significant and shall be preserved when processing the array.</documentation>
		</annotation>
	</element>
	<complexType name="CurveSegmentArrayPropertyType">
		<annotation>
			<documentation>gml:CurveSegmentArrayPropertyType is a container for an array of curve segments.</documentation>
		</annotation>
		<sequence minOccurs="0" maxOccurs="unbounded">
			<element ref="gml:AbstractCurveSegment"/>
		</sequence>
	</complexType>
	<element name="AbstractCurveSegment" type="gml:AbstractCurveSegmentType" abstract="true" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>A curve segment defines a homogeneous segment of a curve.
The attributes numDerivativesAtStart, numDerivativesAtEnd and numDerivativesInterior specify the type of continuity as specified in ISO 19107:2003, 6.4.9.3.
The AbstractCurveSegment element is the abstract head of the substituition group for all curve segment elements, i.e. continuous segments of the same interpolation mechanism.
All curve segments shall have an attribute interpolation with type gml:CurveInterpolationType specifying the curve interpolation mechanism used for this segment. This mechanism uses the control points and control parameters to determine the position of this curve segment.</documentation>
		</annotation>
	</element>
	<complexType name="AbstractCurveSegmentType" abstract="true">
		<attribute name="numDerivativesAtStart" type="integer" default="0"/>
		<attribute name="numDerivativesAtEnd" type="integer" default="0"/>
		<attribute name="numDerivativeInterior" type="integer" default="0"/>
	</complexType>
	<simpleType name="CurveInterpolationType">
		<annotation>
			<documentation>gml:CurveInterpolationType is a list of codes that may be used to identify the interpolation mechanisms specified by an application schema.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="linear"/>
			<!--<enumeration value="geodesic"/>-->
			<enumeration value="circularArc3Points"/>
			<!--<enumeration value="circularArc2PointWithBulge"/>
			<enumeration value="circularArcCenterPointWithRadius"/>
			<enumeration value="elliptical"/>
			<enumeration value="clothoid"/>
			<enumeration value="conic"/>
			<enumeration value="polynomialSpline"/>
			<enumeration value="cubicSpline"/>
			<enumeration value="rationalSpline"/>-->
		</restriction>
	</simpleType>
	<complexType name="ArcStringType">
		<complexContent>
			<extension base="gml:AbstractCurveSegmentType">
				<sequence>
					<!-- our profile is limited to only posList:
					<choice>
						<choice minOccurs="3" maxOccurs="unbounded">
							<element ref="gml:pos"/>
							<element ref="gml:pointProperty"/>
							<element ref="gml:pointRep"/>
						</choice>
                    -->
					<element ref="gml:posList"/>
					<!--<element ref="gml:coordinates"/>-->
					<!--
					</choice>
                    -->
				</sequence>
				<attribute name="interpolation" type="gml:CurveInterpolationType"/>
				<attribute name="numArc" type="integer"/>
			</extension>
		</complexContent>
	</complexType>
	<element name="ArcString" type="gml:ArcStringType" substitutionGroup="gml:AbstractCurveSegment">
		<annotation>
			<documentation>An ArcString is a curve segment that uses three-point circular arc interpolation (&quot;circularArc3Points&quot;). The number of arcs in the arc string may be explicitly stated in the attribute numArc. The number of control points in the arc string shall be 2 * numArc + 1.
The content model follows the general pattern for the encoding of curve segments.</documentation>
		</annotation>
	</element>
	<!-- ================================================= -->
	<element name="MultiPoint" type="gml:MultiPointType" substitutionGroup="gml:AbstractGeometry">
		<annotation>
			<documentation> A gml:MultiPoint consists of one or more gml:Points. The members of the geometric aggregate may be specified either using the &quot;standard&quot; property (gml:pointMember) or the array property (gml:pointMembers). It is also valid to use both the &quot;standard&quot; and the array properties in the same collection.
			</documentation>
		</annotation>
	</element>
	<!-- ================================================= -->
	<complexType name="MultiPointType">
		<complexContent>
			<extension base="gml:AbstractGeometryType">
				<sequence>
					<element ref="gml:pointMember" minOccurs="0" maxOccurs="unbounded"/>
					<!-- our profile is limited to pointMember-->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="pointMember" type="gml:PointPropertyType">
		<annotation>
			<documentation>This property element either references a Point via the XLink-attributes or contains the Point element.
			</documentation>
		</annotation>
	</element>
	<!-- not needed in our profile: pointMembers -->
	<!-- ================================================= -->
	<element name="MultiSurface" type="gml:MultiSurfaceType" substitutionGroup="gml:AbstractGeometry">
		<annotation>
			<documentation>
		A gml:MultiSurface is defined by one or more gml:AbstractSurfaces. The members of the geometric aggregate may be specified either using the &quot;standard&quot; property (gml:surfaceMember) or the array property (gml:surfaceMembers). It is also valid to use both the &quot;standard&quot; and the array properties in the same collection.
		</documentation>
		</annotation>
	</element>
	<complexType name="MultiSurfaceType">
		<complexContent>
			<extension base="gml:AbstractGeometryType">
				<sequence>
					<element ref="gml:surfaceMember" minOccurs="0" maxOccurs="unbounded"/>
					<!-- our profile is limited to surfaceMember
                    -->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>
