xsd/isguf-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
           xmlns:gufcom="http://www.broservices.nl/xsd/gufcommon/1.0"
           xmlns:isguf="http://www.broservices.nl/xsd/isguf/1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.broservices.nl/xsd/isguf/1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="0.1.0">

    <xs:annotation>
        <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
            <gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
        </xs:appinfo>
    </xs:annotation>

    <xs:import namespace="http://www.broservices.nl/xsd/gufcommon/1.0" schemaLocation="gufcommon.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml-profile.xsd"/>
    <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="brocommon.xsd"/>
    <!--
    <xs:import namespace="http://www.broservices.nl/xsd/gufcommon/1.0" schemaLocation="https://schema.broservices.nl/xsd/gufcommon/1.0/gufcommon.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://schema.broservices.nl/profile/gml/1.0/gml-profile.xsd"/>
    <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>
    -->

    <xs:element name="intakeResponse" type="brocom:IntakeResponseType" />
    <xs:element name="parseFault" type="brocom:ParseFaultType" />

    <xs:element name="GUF_AddRealisedInstallation"
               type="isguf:GUF_AddRealisedInstallationType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   Het brondocument wordt aangeboden wanneer één of meer bodemlussen / oppervlakte-infiltraties / putten zijn gerealiseerd die deel uitmaken van een eerste of extra Gerealiseerde installatie. Dit brondocument bevat ook de verschillende gerealiseerde onderdelen (volgend uit de business rules GUF). Dit brondocument bevat, indien het een uitbreiding met een put betreft, ook het gerealiseerde filter. Daarnaast kan het eventueel gerelateerde verkenningen bevatten.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="GUF_AddRealisedInstallationType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="realisedInstallationId" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het door de bronhouder aangeleverde, identificerend gegeven van de gerealiseerde installatie.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="installationFunction"
                           minOccurs="1"
                           maxOccurs="1"
                           type="gufcom:InstallationTypeType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>InstallationType</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De functie van de installatie zoals die gebruikt wordt voor het primaire gebruiksdoel.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="geometry"
                           type="gml:PointPropertyType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De puntgeometrie van de globale horizontale positie van de Gerealiseerde installatie in het tweedimensionale vlak.
Explanation: Puntgeometrie gebaseerd op ISO19107. Aangegeven wordt of de coördinaten zijn ten opzichte van het Rijksdriehoekstelsel (EPSG:28992) of ten opzicht van ETRS89. De puntgeometrie kan bepaald worden door het gemiddelde (centroide) van de verzameling van puntgeometrie(en) van de putten of bodemlussen. Het kan ook de locatie van een van putten of lussen betreffen of een op een andere manier bepaalde locatie.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="validity"
                           nillable="false"
                           type="gufcom:ValidityPeriodType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De periode waarin het betreffende voorkomen van een gerealiseerde installatie geldig is.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="lifespan"
                           nillable="false"
                           type="gufcom:LifespanType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De periode van datum van eerste inrichting (begindatum) tot datum van definitieve buiten gebruikstelling (einddatum) van een gerealiseerde installatie.
Explanation: Het gegeven staat niet in een brondocument, maar wordt automatisch door de basisregistratie ondergrond afgeleid. De begindatum installatie is de oudste begindatum van de entiteit Gerealiseerde put of de oudste begindatum van de entiteit Gerealiseerde bodemlus of de oudste begindatum van de entiteit Gerealiseerde oppervlakteinfiltratie.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0"
                           maxOccurs="unbounded"
                           name="realisedLoop"
                           nillable="false"
                           type="gufcom:RealisedLoopPropertyType"/>
                    <xs:element minOccurs="0"
                           maxOccurs="unbounded"
                           name="realisedSurfaceInfiltration"
                           nillable="false"
                           type="gufcom:RealisedSurfaceInfiltrationPropertyType"/>
                    <xs:element minOccurs="0"
                           maxOccurs="unbounded"
                           name="realisedWell"
                           nillable="false"
                           type="gufcom:RealisedWellPropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GUF_AddRealisedInstallationPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="isguf:GUF_AddRealisedInstallation"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GUF_Closure"
               type="isguf:GUF_ClosureType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   Het brondocument wordt aangeboden wanneer het grondwatergebruiksysteem wordt beëindigd omdat alle Recht grondwatergebruik zijn beëindigd. Bij de beëindiging van het GUF worden daarom ook al het nog actieve Recht grondwatergebruik beëindigd en alle gerealiseerde installaties en subonderdelen. De registratie is met dit brondocument voltooid en het registratieobject kan niet meer worden aangevuld.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="GUF_ClosureType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="endTime" minOccurs="0" maxOccurs="1" nillable="true">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Tijdstip waarop het object in de werkelijkheid niet meer geldig is.
Explanation: Het gegeven staat niet in een brondocument maar wordt automatisch door de basisregistratie ondergrond gegenereerd.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="brocom:PartialDateType">
                                    <xs:attribute name="nilReason" type="xs:string" use="optional"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GUF_ClosurePropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="isguf:GUF_Closure"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GUF_ClosureRealisedPart"
               type="isguf:GUF_ClosureRealisedPartType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het brondocument wordt aangeboden wanneer een of meer van de gerealiseerde onderdelen (gerealiseerde installatie (met subonderdelen), gerealiseerde bodemlus, oppervlakte-infiltratie of put (met filter(s)) is afgesloten, afgedicht of buiten gebruik is gesteld. Bij het afsluiten van een onderdeel kan tevens de installatiefunctie en de geometrie van de bijbehorende installatie aangepast worden. Het betreffende gerealiseerde onderdeel krijgt een einddatum en bij wijzigingen van de Gerealiseerde installatie ontstaat daarvan een nieuw voorkomen.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="GUF_ClosureRealisedPartType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element minOccurs="0"
                           maxOccurs="unbounded"
                           name="realisedLoop"
                           nillable="false"
                           type="isguf:RealisedLoopPropertyType"/>
                    <xs:element minOccurs="0"
                           maxOccurs="unbounded"
                           name="realisedSurfaceInfiltration"
                           nillable="false"
                           type="isguf:RealisedSurfaceInfiltrationPropertyType"/>
                    <xs:element minOccurs="0"
                           maxOccurs="unbounded"
                           name="realisedWell"
                           nillable="false"
                           type="isguf:RealisedWellPropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GUF_ClosureRealisedPartPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="isguf:GUF_ClosureRealisedPart"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GUF_EndLicense"
               type="isguf:GUF_EndLicenseType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   Het brondocument wordt aangeboden wanneer een Recht grondwatergebruik wordt beëindigd (wanneer een beschikking of melding niet meer geldig is).</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="GUF_EndLicenseType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="identificationLicence" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het door de bronhouder aangeleverde, identificerend gegeven van de beschikking of de melding
Explanation: In het geval van een vergunning betreft dit de, door het bevoegd gezag toegekende unieke aanduiding, uit de registratie van de bronhouder, van de desbetreffende beschikking of van het document waarin die beschikking is vastgelegd, ook wel kenmerk geheten. In het geval van een melding betreft dit de unieke aanduiding, uit de registratie van de bronhouder, van het document, ook wel kenmerk geheten, waarin de melding is vastgelegd.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="endTime" minOccurs="0" maxOccurs="1" nillable="true">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Tijdstip waarop het object in de werkelijkheid niet meer geldig is.
Explanation: Het gegeven staat niet in een brondocument maar wordt automatisch door de basisregistratie ondergrond gegenereerd.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="brocom:PartialDateType">
                                    <xs:attribute name="nilReason" type="xs:string" use="optional"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GUF_EndLicensePropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="isguf:GUF_EndLicense"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GUF_ExpandRealisedInstallation"
               type="isguf:GUF_ExpandRealisedInstallationType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   Het brondocument wordt aangeboden wanneer één of meer bodemlussen / oppervlakte-infiltraties / putten zijn gerealiseerd die deel uitmaken van een bestaande Gerealiseerde installatie (volgend uit de business rules GUF). Dit brondocument kan ook het gerealiseerde filter en eventueel gerelateerde verkenningen bevatten. Bij dit brondocument wordt daarnaast de geometrie en eventueel (bij wijziging) de installatiefunctie van de Gerealiseerde installatie aangeleverd. Er ontstaat een nieuw voorkomen van de Gerealiseerde installatie.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="GUF_ExpandRealisedInstallationType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="realisedInstallationId" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het door de bronhouder aangeleverde, identificerend gegeven van de gerealiseerde installatie.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="installationFunction"
                           minOccurs="1"
                           maxOccurs="1"
                           type="gufcom:InstallationTypeType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>InstallationType</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De functie van de installatie zoals die gebruikt wordt voor het primaire gebruiksdoel.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="geometry"
                           type="gml:PointPropertyType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De puntgeometrie van de globale horizontale positie van de Gerealiseerde installatie in het tweedimensionale vlak.
Explanation: Puntgeometrie gebaseerd op ISO19107. Aangegeven wordt of de coördinaten zijn ten opzichte van het Rijksdriehoekstelsel (EPSG:28992) of ten opzicht van ETRS89. De puntgeometrie kan bepaald worden door het gemiddelde (centroide) van de verzameling van puntgeometrie(en) van de putten of bodemlussen. Het kan ook de locatie van een van putten of lussen betreffen of een op een andere manier bepaalde locatie.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="startTime"
                           type="brocom:PartialDateType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Tijdstip waarop het object in de werkelijkheid is ontstaan.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0"
                           maxOccurs="unbounded"
                           name="realisedLoop"
                           nillable="false"
                           type="gufcom:RealisedLoopPropertyType"/>
                    <xs:element minOccurs="0"
                           maxOccurs="unbounded"
                           name="realisedSurfaceInfiltration"
                           nillable="false"
                           type="gufcom:RealisedSurfaceInfiltrationPropertyType"/>
                    <xs:element minOccurs="0"
                           maxOccurs="unbounded"
                           name="realisedWell"
                           nillable="false"
                           type="gufcom:RealisedWellPropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GUF_ExpandRealisedInstallationPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="isguf:GUF_ExpandRealisedInstallation"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GUF_GeometryRealisedSurfaceInfiltration"
               type="isguf:GUF_GeometryRealisedSurfaceInfiltrationType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   Het brondocument wordt aangeboden wanneer de geometrie van de gerealiseerde oppervlakte-infiltratie in de werkelijkheid wordt aangepast. Bijvoorbeeld wanneer er een nieuwe vergunning is afgegeven waarin er een groter volume geïnfiltreerd mag worden en de infiltratieplas groter is gemaakt. Er ontstaat een nieuw voorkomen van de Gerealiseerde oppervlakteinfiltratie.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="GUF_GeometryRealisedSurfaceInfiltrationType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="infiltrationBasinId" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het door de bronhouder aangeleverde, identificerend gegeven van de gerealiseerde oppervlakte-infiltratie.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="geometry"
                           type="gufcom:PointOrCurveOrSurfacePropertyType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De punt-, lijn- of vlakgeometrie, in het tweedimensionale (2D) vlak, van de infiltratieplas of het infiltratiekanaal zoals het in de werkelijkheid is gerealiseerd.
Explanation: De geometrie is gebaseerd op ISO19107. Aangegeven wordt of de coördinaten zijn ten opzichte van het Rijksdriehoekstelsel (EPSG:28992) of ten opzicht van ETRS89. Wanneer gekozen wordt voor een punt is dit het centroide binnen de begrenzing van de plas of het kanaal. Bij een kanaal mag ook het type lijn gekozen worden en bij een plas mag een vlak gekozen worden.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="startTime"
                           type="brocom:PartialDateType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Tijdstip waarop het object in de werkelijkheid is ontstaan.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GUF_GeometryRealisedSurfaceInfiltrationPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="isguf:GUF_GeometryRealisedSurfaceInfiltration"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GUF_Height"
               type="isguf:GUF_HeightType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   Het brondocument wordt aangeboden wanneer de maaiveldhoogte verandert door een natuurlijk proces of door ophoging of afgraving van het maaiveld. Hiermee verandert, naast de maaiveldhoogte mogelijk (afhankelijk of de put wel/niet stabiel is) ook de putdiepte en de diepte bovenkant filter (van het Gerealiseerd filter). Er ontstaat een nieuw voorkomen van de Gerealiseerde put en mogelijk ook van het Gerealiseerde filter.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="GUF_HeightType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="realisedWellId" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het door de bronhouder aangeleverde, identificerend gegeven van de gerealiseerde de put.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="height" minOccurs="1" maxOccurs="1" nillable="true">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De hoogte van het maaiveld t.o.v. NAP ter plaatse van de put.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:restriction base="gml:MeasureType">
                                    <xs:attribute name="uom" type="gml:UomIdentifier" use="required" fixed="m"/>
                                </xs:restriction>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="wellDepth" minOccurs="1" maxOccurs="1" nillable="true">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De diepte van de gerealiseerde put zoals, ten opzichte van het maaiveld.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:restriction base="gml:MeasureType">
                                    <xs:attribute name="uom" type="gml:UomIdentifier" use="required" fixed="m"/>
                                </xs:restriction>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="startValidity"
                           type="brocom:PartialDateType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Start van de periode waarop deze instantie van het object geldig is in de werkelijkheid.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0"
                           maxOccurs="unbounded"
                           name="realisedScreen"
                           nillable="false"
                           type="isguf:RealisedScreenPropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GUF_HeightPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="isguf:GUF_Height"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GUF_NewLicence"
               type="isguf:GUF_NewLicenceType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   Het brondocument wordt aangeboden wanneer er een nieuw Recht grondwatergebruik ontstaat (bij een nieuwe beschikking of melding). In sommige gevallen wordt het oude Recht grondwatergebruik beëindigd (met een apart brondocument) en in sommige gevallen is het een aanvulling op het bestaande Recht grondwatergebruik en blijft de oude ook geldig. In beide gevallen bevat dit brondocument ook alle subonderdelen en worden de subonderdelen die aan het vorige Recht gekoppeld waren automatisch beëindigd. De registratie is met dit brondocument aangevuld. Het Grondwatergebruiksysteem krijgt een nieuw voorkomen.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="GUF_NewLicenceType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="identificationLicence" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het door de bronhouder aangeleverde, identificerend gegeven van de beschikking of de melding
Explanation: In het geval van een vergunning betreft dit de, door het bevoegd gezag toegekende unieke aanduiding, uit de registratie van de bronhouder, van de desbetreffende beschikking of van het document waarin die beschikking is vastgelegd, ook wel kenmerk geheten. In het geval van een melding betreft dit de unieke aanduiding, uit de registratie van de bronhouder, van het document, ook wel kenmerk geheten, waarin de melding is vastgelegd.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="legalType"
                           minOccurs="1"
                           maxOccurs="1"
                           type="gufcom:LegalTypeType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>LegalType</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De juridische procedurevorm waaruit het recht het grondwater te gebruiken is ontstaan.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="usageTypeFacility"
                           nillable="false"
                           type="gufcom:UsageTypeFacilityType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De kenmerken van de gebruikstoepassing of -toepassingen van het registratieobject.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0"
                           maxOccurs="2"
                           name="licensedQuantity"
                           nillable="false"
                           type="gufcom:LicensedQuantityType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De in de beschikking of melding genoemde kenmerken van de maximale volumes water die door het gehele systeem aan de ondergrond onttrokken mogen worden en de maximale volumes die in de bodem gebracht mogen worden.
Explanation: De toegestande maximale waterverplaatsing kan zowel bij het gebruiksrecht voor het gehele systeem, als voor de verschillende installaties geregistreerd worden. De optelsom van de maximale volumes van de verschillende installaties komt niet altijd overeen met de maximale volumes van het gehele grondwatergebruiksysteem ofwel de gehele inrichting. In het geval het grondwatergebruiksysteem 2 functies vervult namelijk onttrekken en in de bodem brengen, wordt de gegevensgroep 2 keer geregistreerd: 1 keer voor de maximale volumes die onttrokken mogen worden en 1 keer voor volumes die in de bodem gebracht mogen worden. Het betreft de maximale hoeveelheden tijdens het reguliere verbruik, inclusief onderhoud. Het is exclusief de maximale volumes die aanvullend bij de aanleg van het systeem mogen worden gebruikt.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="lifespan"
                           nillable="false"
                           type="gufcom:LifespanType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De periode van datum van het eerste ontstaan tot datum van het definitieve einde van een Recht grondwatergebruik.
Explanation: Het Recht grondwatergebruik ontstaat bij de ingangsdatum van de vergunning. Bij meldingen ontstaat het Recht grondwatergebruik bij het bevestigen van de melding. Het intrekken van de vergunning of wanneer de einddatum is bereikt, betekent het einde van het Recht grondwatergebruik.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0"
                           maxOccurs="unbounded"
                           name="designInstallation"
                           nillable="false"
                           type="gufcom:DesignInstallationPropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GUF_NewLicencePropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="isguf:GUF_NewLicence"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GUF_StartRegistration"
               type="isguf:GUF_StartRegistrationType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het brondocument wordt aangeboden wanneer er een nieuw grondwatergebruiksysteem wordt gestart. Het GUF wordt altijd met een Recht grondwatergebruik gestart, maar zonder gerealiseerde installatie(s).</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="GUF_StartRegistrationType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="objectIdAccountableParty"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie die door of voor de bronhouder is gebruikt om het object in de eigen administratie te kunnen vinden, voordat het was geregistreerd in de basisregistratie ondergrond.
Explanation: Het gegeven wordt alleen uitgeleverd aan de dataleverancier en de bronhouder. Het is in de registratie opgenomen om de communicatie tussen de registerbeheerder en de bronhouder of dataleverancier te vergemakkelijken.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="deliveryContext"
                           minOccurs="1"
                           maxOccurs="1"
                           type="gufcom:DeliveryContextType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>DeliveryContext</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De rechtsgrond op basis waarvan, of bij afwezigheid daarvan, de activiteit naar aanleiding waarvan, het betreffende gegeven is aangeleverd aan de basisregistratie ondergrond.
Explanation: De wetgever stipuleert dat het gegeven moet zijn vastgelegd om inzicht te geven in de relatie met de taken van een bestuursorgaan. Het gegeven geeft inzicht in de maatschappelijke betekenis van de informatie. Het betreft hier de rechtsgrond in het heden. Wanneer tijdens de levensduur van het registratieobject de rechtsgrond veranderd, dan wordt deze verandering inclusief het moment waarop de verandering plaats vond geregistreerd.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="lifespan"
                           nillable="false"
                           type="gufcom:LifespanType">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De periode van de datum waarop het eerste ontwerp middels een verleende vergunning wordt goedgekeurd of in een melding wordt gemeld (begindatum) tot datum van definitieve beëindiging van de beschikking of melding en de definitieve beëindiging van de gerealiseerde installaties (einddatum) van een grondwatergebruiksysteem.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1"
                           maxOccurs="1"
                           name="licence"
                           nillable="false"
                           type="gufcom:LicenceGroundwaterUsagePropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GUF_StartRegistrationPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="isguf:GUF_StartRegistration"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GUF_WellFunction"
               type="isguf:GUF_WellFunctionType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   Het brondocument wordt aangeboden wanneer de putfunctie van de gerealiseerde put verandert. Samen met de putfunctie kan ook relatieve temperatuur aangepast worden en kan de installatiefunctie van de gerealiseerde installatie aangepast worden. Er ontstaat een nieuw voorkomen van de Gerealiseerde put en mogelijk ook van de Gerealiseerde installatie.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="GUF_WellFunctionType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="realisedWellId" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het door de bronhouder aangeleverde, identificerend gegeven van de gerealiseerde de put.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="wellFunction"
                           minOccurs="1"
                           maxOccurs="2"
                           type="gufcom:WellFunctionType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>WellFunction</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De functie van de gerealiseerde put.
Explanation: Een put kan twee functies combineren. Dat is het geval wanneer de put afwisselend gebruikt wordt voor infiltratie en onttrekking of voor infiltratie en retournering. Het water dat door de put stroomt verandert, op het moment van het wisselen van functie, van richting. Een eventueel afwijkende putfunctie voor sporadische activiteiten zoals onderhoudswerkzaamheden wordt niet geregistreerd.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="relativeTemperature"
                           minOccurs="0"
                           maxOccurs="1"
                           type="gufcom:RelativeTemperatureType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>RelativeTemperature</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De relatieve temperatuur van de ondergrond in de nabijheid van het filter ten opzichte van de natuurlijke grondwatertemperatuur op de diepte van het filter.
Explanation: Bij een warmte- en koudeopslagsysteem is er minimaal 1 put met een zogenaamde warme bel en minimaal 1 put met een zogenaamde koude bel. In het koude seizoen wordt er grondwater onttrokken uit de relatief warme bel en in het warme seizoen wordt er water geretourneerd in deze relatief warme bel. De put heeft in dit geval 2 functies en bij dit attribuut wordt geregistreerd of het de relatief warme bel of de koude bel betreft.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="startValidity"
                           type="brocom:PartialDateType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Start van de periode waarop deze instantie van het object geldig is in de werkelijkheid.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="realisedInstallation"
                           nillable="false"
                           type="isguf:RealisedInstallationPropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GUF_WellFunctionPropertyType">
        <xs:sequence minOccurs="1">
            <xs:element ref="isguf:GUF_WellFunction"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="RealisedInstallation"
               type="isguf:RealisedInstallationType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De kenmerken van de gerealiseerde installatie zoals in werkelijkheid aanwezig.
Explanation: Een installatie bestaat uit 1 of meer putten waarmee water aan de bodem wordt onttrokken en/of in de bodem wordt gebracht. In het geval van een onttrekking waarbij oppervlakte-infiltratie wordt toegepast bevat een installatie (ook) een oppervlakte-infiltratie. In geval van een gesloten bodemenergiesysteem bestaat de installatie uit 1 of meer bodemlussen waarbij gebruik gemaakt wordt van de ondergrond voor de levering en opslag van warmte of koude. De onderdelen van de installatie hebben onderling een technische samenhang en over de onderdelen in samenhang wordt gerapporteerd.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="RealisedInstallationType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="realisedInstallationId" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het door de bronhouder aangeleverde, identificerend gegeven van de gerealiseerde installatie.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="installationFunction"
                           minOccurs="1"
                           maxOccurs="1"
                           type="gufcom:InstallationTypeType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>InstallationType</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De functie van de installatie zoals die gebruikt wordt voor het primaire gebruiksdoel.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RealisedInstallationPropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="isguf:RealisedInstallation"/>
        </xs:sequence>
        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
    </xs:complexType>

    <xs:element name="RealisedInstallationClosurePart"
               type="isguf:RealisedInstallationClosurePartType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De kenmerken van de gerealiseerde installatie zoals in werkelijkheid aanwezig.
Explanation: Een installatie bestaat uit 1 of meer putten waarmee water aan de bodem wordt onttrokken en/of in de bodem wordt gebracht. In het geval van een onttrekking waarbij oppervlakte-infiltratie wordt toegepast bevat een installatie (ook) een oppervlakte-infiltratie. In geval van een gesloten bodemenergiesysteem bestaat de installatie uit 1 of meer bodemlussen waarbij gebruik gemaakt wordt van de ondergrond voor de levering en opslag van warmte of koude. De onderdelen van de installatie hebben onderling een technische samenhang en over de onderdelen in samenhang wordt gerapporteerd.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="RealisedInstallationClosurePartType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="realisedInstallationId" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het door de bronhouder aangeleverde, identificerend gegeven van de gerealiseerde installatie.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="installationFunction"
                           minOccurs="0"
                           maxOccurs="1"
                           type="gufcom:InstallationTypeType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>InstallationType</CodeListName>
                                <CodeListURI/>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De functie van de installatie zoals die gebruikt wordt voor het primaire gebruiksdoel.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="geometry"
                           type="gml:PointPropertyType"
                           minOccurs="0"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De puntgeometrie van de globale horizontale positie van de Gerealiseerde installatie in het tweedimensionale vlak.
Explanation: Puntgeometrie gebaseerd op ISO19107. Aangegeven wordt of de coördinaten zijn ten opzichte van het Rijksdriehoekstelsel (EPSG:28992) of ten opzicht van ETRS89. De puntgeometrie kan bepaald worden door het gemiddelde (centroide) van de verzameling van puntgeometrie(en) van de putten of bodemlussen. Het kan ook de locatie van een van putten of lussen betreffen of een op een andere manier bepaalde locatie.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RealisedInstallationClosurePartPropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="isguf:RealisedInstallationClosurePart"/>
        </xs:sequence>
        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
    </xs:complexType>

    <xs:element name="RealisedLoop"
               type="isguf:RealisedLoopType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De kenmerken van de gerealiseerde bodemlus zoals in de werkelijkheid aanwezig.
Explanation: De bodemlus is een constructie die geboord of gegraven is onder het maaiveld bestaande uit een gesloten buizenstelsel of slang waardoor een vloeistof stroomt met als doel het uitwisselen van warmte en koude met de ondergrond.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="RealisedLoopType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="realisedLoopId" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het door de bronhouder aangeleverde, identificerend gegeven van de gerealiseerde bodemlus.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="endTime" minOccurs="0" maxOccurs="1" nillable="true">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Tijdstip waarop het object in de werkelijkheid niet meer geldig is.
Explanation: Het gegeven staat niet in een brondocument maar wordt automatisch door de basisregistratie ondergrond gegenereerd.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="brocom:PartialDateType">
                                    <xs:attribute name="nilReason" type="xs:string" use="optional"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="realisedInstallation"
                           nillable="false"
                           type="isguf:RealisedInstallationClosurePartPropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RealisedLoopPropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="isguf:RealisedLoop"/>
        </xs:sequence>
        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
    </xs:complexType>

    <xs:element name="RealisedScreen"
               type="isguf:RealisedScreenType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De kenmerken van het gerealiseerde filter van de put zoals in de werkelijkheid aanwezig.
Explanation: Het filter is het deel van de put dat voorzien is van openingen waardoor het grondwater kan binnenstromen of uitstromen. Een put kan meer dan één filter bevatten. In dat geval zijn er meerdere geperforeerde trajecten aanwezig. Alle filtertrajecten in de gerealiseerde put worden geregistreerd.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="RealisedScreenType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="realisedScreenId" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het door de bronhouder aangeleverde, identificerend gegeven van het gerealiseerde filter.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="topScreenDepth" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De diepte van de bovenkant van het filter in meter ten opzichte van het maaiveld.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:restriction base="gml:MeasureType">
                                    <xs:attribute name="uom" type="gml:UomIdentifier" use="required" fixed="m"/>
                                </xs:restriction>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RealisedScreenPropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="isguf:RealisedScreen"/>
        </xs:sequence>
        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
    </xs:complexType>

    <xs:element name="RealisedSurfaceInfiltration"
               type="isguf:RealisedSurfaceInfiltrationType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De kenmerken van het gerealiseerde oppervlaktelichaam voor de infiltratie van water, zoals in de werkelijkheid aanwezig.
Explanation: Het betreft een infiltratieplas of een infiltratiekanaal.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="RealisedSurfaceInfiltrationType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="infiltrationBasinId" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het door de bronhouder aangeleverde, identificerend gegeven van de gerealiseerde oppervlakte-infiltratie.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="endTime" minOccurs="0" maxOccurs="1" nillable="true">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Tijdstip waarop het object in de werkelijkheid niet meer geldig is.
Explanation: Het gegeven staat niet in een brondocument maar wordt automatisch door de basisregistratie ondergrond gegenereerd.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="brocom:PartialDateType">
                                    <xs:attribute name="nilReason" type="xs:string" use="optional"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="realisedInstallation"
                           nillable="false"
                           type="isguf:RealisedInstallationClosurePartPropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RealisedSurfaceInfiltrationPropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="isguf:RealisedSurfaceInfiltration"/>
        </xs:sequence>
        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
    </xs:complexType>

    <xs:element name="RealisedWell"
               type="isguf:RealisedWellType"
               substitutionGroup="gml:AbstractFeature">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De kenmerken van de gerealiseerde put zoals in de werkelijkheid aanwezig.
Explanation: De put is een constructie die geboord of gegraven is onder het maaiveld met als doel het uitwisselen van water met een grondwatersysteem. Een put wordt gebruikt om water te infiltreren, te onttrekken of te retourneren aan de ondergrond. Een put kan ook twee functies combineren. Dat is het geval wanneer de put afwisselend gebruikt wordt voor infiltratie en onttrekking of voor infiltratie en retournering. Het water dat door de put stroomt verandert op het moment van het wisselen van functie van richting. Bij een zogenaamde monobron van een open bodemenergiesysteem is sprake van een boorgat met daarin twee afzonderlijke putten met elk hun eigen stromingsrichting. Bij een monobron spreken we niet van één put met twee functies.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="RealisedWellType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="realisedWellId" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het door de bronhouder aangeleverde, identificerend gegeven van de gerealiseerde de put.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="endTime" minOccurs="0" maxOccurs="1" nillable="true">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Tijdstip waarop het object in de werkelijkheid niet meer geldig is.
Explanation: Het gegeven staat niet in een brondocument maar wordt automatisch door de basisregistratie ondergrond gegenereerd.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="brocom:PartialDateType">
                                    <xs:attribute name="nilReason" type="xs:string" use="optional"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0"
                           maxOccurs="1"
                           name="realisedInstallation"
                           nillable="false"
                           type="isguf:RealisedInstallationClosurePartPropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RealisedWellPropertyType">
        <xs:sequence minOccurs="0">
            <xs:element ref="isguf:RealisedWell"/>
        </xs:sequence>
        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
    </xs:complexType>

    <xs:element name="registrationRequest" type="isguf:RegistrationRequestType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   Het bericht RegistrationRequest is een specialisatie van de abstract klasse RegistrationRequest uit de package brocommon, waaraan het een sourceDocument toevoegt. Met dit bericht kan een nog niet geregistreerd grondwatergebruiksysteem in de BRO worden opgenomen of kan een een geregistreerd grondwatergebruiksysteem aangevuld of voltooid worden.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="RegistrationRequestType">
        <xs:complexContent>
            <xs:extension base="brocom:RegistrationRequestType">
                <xs:sequence>
                    <xs:element name="sourceDocument"
                           type="isguf:SourceDocumentType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   Het element sourceDocument bevat gegevens die in het BRO-systeem geregistreerd zullen worden en die in de catalogus van het registratieobject zijn gespecificeerd, met uitzondering van de gegevens die door het BRO-systeem worden gegenereerd of afgeleid uit het innameverzoek.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="replaceRequest" type="isguf:CorrectionRequestType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht replaceRequest is een specialisatie van brocom:CorrectionRequest, waaraan het een correctiereden en een brondocument toevoegt.
Explanation: Met een replaceRequest, dat een dataleverancier (ofwel tevens bronhouder danwel in opdracht van de bronhouder) aanbiedt bij de innamewebservice van het BRO systeem, wordt de inhoud van een eerder aangeboden brondocument in de tijdlijn van de materiële geschiedenis vervangen.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="CorrectionRequestType">
        <xs:complexContent>
            <xs:extension base="brocom:CorrectionRequestType">
                <xs:sequence>
                    <xs:element name="correctionReason"
                           minOccurs="1"
                           maxOccurs="1"
                           type="isguf:CorrectionReasonType">
                        <xs:annotation>
                            <xs:appinfo>
                                <CodeListName>CorrectionReason</CodeListName>
                                <CodeListURI>urn:bro:guf:CorrectionReason</CodeListURI>
                            </xs:appinfo>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition:   De reden waarom de geregistreerde gegevens worden vervangen.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="sourceDocument"
                           type="isguf:SourceDocumentType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Dit element bevat één van de gedefineerde brondocumenten.
Explanation: Het element sourceDocument vervangt een eerder aangeboden brondocument in de tijdlijn van de materiële geschiedenis van het registratieobject in de BRO, met uitzondering van de gegevens die door het BRO-systeem worden gegenereerd of afgeleid.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="insertRequest" type="isguf:CorrectionRequestType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht insertRequest is een specialisatie van brocom:CorrectionRequest, waaraan het een correctiereden en een brondocument toevoegt.
Explanation: Met een insertRequest, dat een dataleverancier (ofwel tevens bronhouder danwel in opdracht van de bronhouder) aanbiedt bij de innamewebservice van het BRO systeem, wordt het aangeboden brondocument ingevoegd in de tijdlijn van de materiële geschiedenis.</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="deleteRequest" type="isguf:CorrectionRequestType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht deleteRequest is een specialisatie van brocom:CorrectionRequest, waaraan het een correctiereden en een brondocument toevoegt.
Explanation: Met een deleteRequest, dat een dataleverancier (ofwel tevens bronhouder danwel in opdracht van de bronhouder) aanbiedt bij de innamewebservice van het BRO systeem, wordt het eerder aangeboden brondocument verwijderd uit de tijdlijn van de materiële geschiedenis.</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="moveRequest" type="isguf:MoveRequestType">
        <xs:annotation>
            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het bericht moveRequest is een specialisatie van isguf:CorrectionRequest, waaraan het een attribuut dateToBeCorrected toevoegt.
Explanation: Met een replaceRequest, dat een dataleverancier (ofwel tevens bronhouder danwel in opdracht van de bronhouder) aanbiedt bij de innamewebservice van het BRO systeem, wordt een eerder aangeboden brondocument verplaatst op de tijdlijn van de materiële geschiedenis.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="MoveRequestType">
        <xs:complexContent>
            <xs:extension base="isguf:CorrectionRequestType">
                <xs:sequence>
                    <xs:element name="dateToBeCorrected"
                           type="brocom:PartialDateType"
                           minOccurs="1"
                           maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De (mogelijkerwijs onvolledige) datum van de gebeurtenis, afgeleid van een eerder aangeboden brondocument, die moet worden vervangen.
Explanation: De juiste datum is opgenomen in het sourceDocument.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CorrectionReasonType">
        <xs:simpleContent>
            <xs:restriction base="gml:CodeWithAuthorityType">
                <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:bro:guf:CorrectionReason"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="SourceDocumentType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element ref="isguf:GUF_StartRegistration"/>
            <xs:element ref="isguf:GUF_NewLicence"/>
            <xs:element ref="isguf:GUF_EndLicense"/>
            <xs:element ref="isguf:GUF_AddRealisedInstallation"/>
            <xs:element ref="isguf:GUF_ExpandRealisedInstallation"/>
            <xs:element ref="isguf:GUF_GeometryRealisedSurfaceInfiltration"/>
            <xs:element ref="isguf:GUF_Height"/>
            <xs:element ref="isguf:GUF_WellFunction"/>
            <xs:element ref="isguf:GUF_ClosureRealisedPart"/>
            <xs:element ref="isguf:GUF_Closure"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
